#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PACKAGE = partman-crypto

build: build-stamp
build-stamp:
	dh_testdir
	$(MAKE) -C base64
	$(MAKE) -C blockdev-wipe
	touch $@

clean:
	dh_testdir
	dh_testroot
	$(MAKE) -C base64 clean
	$(MAKE) -C blockdev-wipe clean
	rm -f build-stamp
	rm -f `find . -name '*~'`
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	debian/install-rc init.d
	debian/install-rc choose_partition
	debian/install-rc choose_method
	debian/install-rc active_partition
	debian/install-rc update.d
	debian/install-rc finish.d
	dh_install crypto_tools.sh lib/partman
	dh_install ciphers lib/partman
	dh_install base64/base64 bin/
	dh_install blockdev-keygen bin/
	dh_install blockdev-wipe/blockdev-wipe bin/
	mkdir -p debian/$(PACKAGE)/usr/lib/prebaseconfig.d
	install -m0755 crypto_modules debian/$(PACKAGE)/usr/lib/prebaseconfig.d/05crypto_modules
	rm -rf `find debian/$(PACKAGE) -name .svn`

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installdebconf
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
